<h1>Question Dashboard</h1>
<h2>1. <span><%= __n("%s woman", "%s women", question1.count)%> </span>found in adressbook</h2>
<h2>2. The oldest Person is <span><%= question2.name %></span></h2>
<h2>3. <span><%= question3.secondPerson.name %></span> is <span></span><%= __n("%s day", "%s days", question3.agegap) %> older then <span><%= question3.firstPerson.name %></span</h2>
